a,
ul,
h1,
li,
p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a:hover {
  color: #2196f3;
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
footer {
  background-color: #2f303a;
}
button {
  border-radius: 4px;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-list {
  display: flex;
  justify-content: space-between;
}

.web {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.web-part {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
}

.mail,
.tel {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 50px;
}

.nav-item {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.addres-list {
  display: flex;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-btn {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  height: 120px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  text-transform: uppercase;
  margin: auto;
}

.team-list {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.adventages-list {
  display: flex;
  gap: 30px;
}

.photo {
  width: 270px;
  height: 260px;
}

.adventages-box {
  display: inline-block;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  background: #f5f4fa;
  background-image: url("../images/antenna\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.adventages-box-two {
  display: inline-block;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  background: #f5f4fa;
  background-image: url("../images/clock\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.adventages-box-three {
  display: inline-block;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  background: #f5f4fa;
  background-image: url("../images/diagram\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.adventages-box-four {
  display: inline-block;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  background: #f5f4fa;
  background-image: url("../images/astronaut\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.adventages-list-tittle {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}

.adventages-list-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background: #f5f4fa;
}

.team-user {
  border: #000;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.name {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 30px;
}

.robota {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.work-img {
  display: flex;
  padding-top: 50px;
  gap: 30px;
}

.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.addres {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.adventages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
  display: flex;
  padding-bottom: 94px;
  text-align: center;
}

.web-footer-part {
  color: #2196f3;

  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.web-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.addres {
  padding-top: 10px;
}

.mail-footer {
  padding-top: 5px;
}

.tel-footer {
  padding-top: 5px;
  padding-bottom: 60px;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}
