.first {
  background-color: #2f303a;
}
footer {
  background-color: #2f303a;
}
button {
  background-color: #2196f3;
}

.studia,
.portfolio,
.contact,
.mail,
.tel,
.name,
.web {
  font-family: Roboto;
  font-weight: 500;
}
