.first {
  background-color: #2f303a;
}
footer {
  background-color: #2f303a;
}
button {
  background-color: #2196f3;
}

.studia,
.portfolio,
.contact,
.mail,
.tel,
.name,
.web {
  font-family: Roboto;
  font-weight: 500;
}
.detali,
.addres,
.mail-footer,
.rel-footer,
.robota {
  font-family: Roboto;
  font-weight: 400;
}

.detali-h3,
.button,
.title-h2 {
  font-family: Roboto;
  font-weight: 700;
}
.web {
  font-family: Raleway;
  font-weight: 700;
}

.title-h1 {
  font-family: Roboto;
  font-weight: 900;
}

body {
  font-family: Roboto;
}

.container {
  width: 1600px;

  padding: 94px 215px 94px 215px;
}
